<!-- todo_list/todo_app/templates/todo_app/todo_list.html -->
{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit contact-list:</h3>
            <h5>{{ todo_list.title|upper}}</h5>
        </div>
        <ul>
            {% for todo in object_list %}
            <li>
                <div>
                    <div role="button" onclick="location.href='{% url "item-update" todo_list.id todo.id %}'">
                        {{ todo.title }}
                    </div>
            </li>
            {% empty %}
            <p>There is no contact in this contact-list.</p>
            {% endfor %}
        </ul>
        <p>
            <input value="Add a new contact information" type="button" onclick="location.href='{% url "item-add" todo_list.id %}'" />
            <input value="Delete this contact-list" type="button"
                onclick="location.href='{% url "list-delete" todo_list.id %}'" />
        </p>
    </div>
</div>
{% endblock %}
